.main {
  :global {
    .ant-modal-body {
      .ant-modal-confirm-body {
        .ant-modal-confirm-content {
          margin-top: 0;
        }
      }
    }

    .ant-modal-confirm-btns {
      .ant-btn-default,
      .ant-btn-primary {
        font-size: 14px;
        font-weight: 400;
      }
    }

    [dir="rtl"] & {
      .ant-modal-close {
        right: auto;
        left: 0;
      }
    }
  }

  .body {
    color: var(--az-colorv2-text-primary);
  }
  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0 -20px;
    padding: 0 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--az-colorv2-border-default);

    + .content {
      margin-top: 20px;
    }

    [dir="rtl"] & {
      text-align: right;
    }
  }
  .content {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .inner {
  }
}
