.drawer {
  :global {
    .ant-drawer-header {
      // padding: 20px 20px 22px;
      padding: 10px 12px;
      background-color: var(--az-colorv2-bg-surface);
      border-bottom: 1px solid var(--az-colorv2-border-disabled);
    }

    .ant-drawer-title {
      color: var(--az-colorv2-text-primary);
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }

    .ant-drawer-extra {
      > button {
        border-radius: 999px;
        color: var(--az-colorv2-text-primary);
        background: var(--az-colorv2-bg-surface);
        font-size: 18px;

        // &:hover,
        // &:focus,
        // &:active {
        //   opacity: 1;
        // }
      }
    }
    .ant-drawer-body {
      padding: 20px 12px;
      display: flex;
      flex-direction: column;
      background-color: var(--az-colorv2-bg-surface);
    }
  }
}

.closeBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  height: 0;

  > * + * {
    margin-top: 18px;
  }
}

.foot {
  flex: none;
  display: flex;
  margin: 24px 0 0;

  > * {
    flex: 1;
    width: 0;
    height: 52px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 500;

    + * {
      margin-inline-start: 12px;
    }
  }

  > *:nth-child(1) {
    color: var(--az-colorv2-text-primary) !important;
    background-color: rgba(102, 111, 165, 0.18);

    [data-theme="light"] & {
      color: var(--az-colorv2-text-primary) !important;
      background-color: #eef1ff;
    }
  }

  > *:nth-child(2) {
    color: #fff !important;
    background: linear-gradient(90deg, #6c63db 0%, #7568df 100%);
  }
}
