.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  flex: none;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--az-colorv2-text-secondary);
  font-size: 12px;
  border-bottom: 1px solid var(--az-colorv2-border-disabled);

  .opts {
    display: flex;
    align-items: center;

    > * + * {
      margin-inline-start: 12px;
    }
  }
}

.checkbox {
  font-size: 12px;
  color: var(--az-colorv2-text-secondary);

  > span + span {
    padding-inline-end: 0;
  }
}

.atv {
  color: var(--az-colorv2-brand-primary);
}

.content {
  flex: 1;
  height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 12px;
}

.card {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  padding: 12px 0;
  color: var(--az-colorv2-text-primary);
  border-bottom: 1px solid var(--az-colorv2-border-disabled);

  .cardNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    > *:nth-child(1) {
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
    }
    > *:nth-child(2) {
      text-align: var(--az-dir-text-right);
    }
  }

  .cardNavSub {
    margin: 10px 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }

  .cardUl {
    .cardLi {
      display: flex;
      justify-content: space-between;

      > *:nth-child(1) {
        color: var(--az-colorv2-text-secondary);
        margin-inline-end: 10px;
        flex: none;
        display: flex;
        align-items: center;
        font-size: 11px;
      }
      > *:nth-child(2) {
        text-align: var(--az-dir-text-right);
        word-break: break-all;

        small {
          color: var(--az-colorv2-text-secondary);
        }
      }

      + .cardLi {
        margin-top: 9px;
      }
    }
  }
}

.li2 {
  display: flex;
  gap: 12px;

  > * {
    flex: 1;
    width: 0;
  }
}

.dropdown {
  > p {
    margin: 0;
    color: var(--az-colorv2-text-secondary);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }

  > button {
    white-space: nowrap;
    width: 100%;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding: 6px 12px;
    color: var(--az-colorv2-text-primary);
    background-color: var(--az-colorv2-bg-elevated);
    border: 1px solid transparent;
    border-radius: 4px;

    // [data-theme="light"] & {
    //   background-color: #f6f7fb;
    // }

    &:hover,
    &:focus,
    &:active {
      border-color: var(--az-colorv2-border-default);
    }
  }
}

.overlay {
  :global {
    .ant-dropdown-menu {
      padding: 6px 0;
      border-radius: 4px;
      background-color: var(--az-colorv2-bg-surface);
      border: 1px solid var(--az-colorv2-border-hover);
    }

    .ant-dropdown-menu-item {
      font-size: 14px;
      line-height: 22px;
      padding: 6px 12px;
      color: var(--az-colorv2-text-primary);
    }

    .ant-dropdown-menu-item-selected {
      background-color: var(--az-colorv2-bg-hover) !important;
    }

    .ant-dropdown-menu-item:hover {
      background-color: var(--az-colorv2-bg-hover) !important;
    }
  }
}
