.main {
  > p {
    margin: 0;
    color: var(--az-colorv2-text-secondary);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  > div {
    display: flex;
    align-items: center;

    > button {
      flex: 1;
      width: 0;

      white-space: nowrap;
      width: 100%;
      justify-content: space-between;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      padding: 6px 12px;
      color: var(--az-colorv2-text-primary);
      background-color: var(--az-colorv2-bg-elevated);
      border-radius: 4px;

      // [data-theme="light"] & {
      //   background-color: #f8f8f8;
      // }
    }

    > span {
      margin: 0 10px;
    }
  }
}
