.aiDrawer {
  :global(.ant-drawer-content) {
    border-radius: 20px 20px 0 0;
    background: var(--az-colorv2-bg-surface);
  }
}

.aiDrawerInner {
  display: flex;
  flex-direction: column;
}

.aiDrawerTitle {
  font-size: 13px;
  line-height: 13px;
  color: var(--az-colorv2-text-primary);
  font-weight: 700;
  padding: 0 15px;
  margin-top: 20px;
}

.aiDrawerDivider {
  height: 1px;
  background: var(--az-colorv2-bg-elevated);
  margin-top: 16px;
}

.loading {
  position: fixed;
  z-index: 999;
  width: 100%;
  //height: calc(100vh - 60px);
  //top: 60px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--az-colorv2-bg-surface);
}
