.main {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--az-colorv2-bg-elevated);
  border-radius: 4px;

  &:hover:not([aria-disabled="true"]) {
    box-shadow: 0 0 0 1px var(--az-colorv2-input-border-hover);
  }

  &[aria-disabled="true"] {
    pointer-events: none;
    // background-color: var(--az-colorv2-bg-elevated);
    background-color: var(--az-colorv2-input-bg);
    border-radius: 4px;
    border: 1px solid var(--az-colorv2-border-default);
  }
}

.atv {
  box-shadow: 0 0 0 1px var(--az-colorv2-input-border-hover);
}
.err {
  box-shadow: 0 0 0 1px var(--az-colorv2-input-border-error);
  &:hover:not([aria-disabled="true"]) {
    box-shadow: 0 0 0 1px var(--az-colorv2-input-border-error);
  }
}

.content {
  flex: 1;
  width: 0;
  display: flex;
  align-items: center;
  padding: 0 12px;
  //font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.input {
  flex: 1;
  width: 0;
  text-align: var(--az-dir-text-right);
}

.prefix {
  flex: none;
  padding-inline-end: 8px;
  color: var(--az-colorv2-text-secondary);
}

.suffix {
  flex: none;
  padding-inline-start: 8px;
}

.btns {
  flex: none;
  border-inline-start: 1px solid var(--az-colorv2-bg-elevated);
  display: flex;
  flex-direction: column;
  width: 28px;
  height: 100%;

  > button {
    flex: 1;

    > span {
      border-inline-start: 4px solid transparent;
      border-inline-end: 4px solid transparent;
    }

    &.btnUp {
      > span {
        border-top: 0;
        border-bottom: 4px solid var(--az-colorv2-text-secondary);
      }

      &:not([disabled]) {
        &:hover,
        &:focus,
        &:active {
          > span {
            border-bottom: 4px solid var(--az-colorv2-text-primary);
          }
        }
      }
    }
    &.btnDown {
      > span {
        border-top: 4px solid var(--az-colorv2-text-secondary);
        border-bottom: 0;
      }

      &:not([disabled]) {
        &:hover,
        &:focus,
        &:active {
          > span {
            border-top: 4px solid var(--az-colorv2-text-primary);
          }
        }
      }
    }
  }

  > span {
    height: 1px;
    background-color: var(--az-colorv2-bg-elevated);
  }
}
